---
const {
  height = 140, // px-ish feel via class mapping below
  withLogo = false,
} = Astro.props;

// Map a simple height prop to Tailwind classes
---

<div class="relative w-full">
  <!-- The waves -->
  <svg
    id="wave"
    style="transform:rotate(0deg); transition: 0.3s"
    viewBox="0 0 1440 120"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    ><defs
      ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
        ><stop stop-color="rgba(0, 0, 0, 1)" offset="0%"></stop><stop
          stop-color="rgba(0, 0, 0, 1)"
          offset="100%"></stop></linearGradient
      ></defs
    ><path
      style="transform:translate(0, 0px); opacity:1"
      fill="url(#sw-gradient-0)"
      d="M0,24L80,26C160,28,320,32,480,40C640,48,800,60,960,66C1120,72,1280,72,1440,68C1600,64,1760,56,1920,44C2080,32,2240,16,2400,18C2560,20,2720,40,2880,44C3040,48,3200,36,3360,40C3520,44,3680,64,3840,60C4000,56,4160,28,4320,32C4480,36,4640,72,4800,72C4960,72,5120,36,5280,32C5440,28,5600,56,5760,74C5920,92,6080,100,6240,92C6400,84,6560,60,6720,50C6880,40,7040,44,7200,42C7360,40,7520,32,7680,30C7840,28,8000,32,8160,44C8320,56,8480,76,8640,82C8800,88,8960,80,9120,76C9280,72,9440,72,9600,66C9760,60,9920,48,10080,50C10240,52,10400,68,10560,72C10720,76,10880,68,11040,66C11200,64,11360,68,11440,70L11520,72L11520,120L11440,120C11360,120,11200,120,11040,120C10880,120,10720,120,10560,120C10400,120,10240,120,10080,120C9920,120,9760,120,9600,120C9440,120,9280,120,9120,120C8960,120,8800,120,8640,120C8480,120,8320,120,8160,120C8000,120,7840,120,7680,120C7520,120,7360,120,7200,120C7040,120,6880,120,6720,120C6560,120,6400,120,6240,120C6080,120,5920,120,5760,120C5600,120,5440,120,5280,120C5120,120,4960,120,4800,120C4640,120,4480,120,4320,120C4160,120,4000,120,3840,120C3680,120,3520,120,3360,120C3200,120,3040,120,2880,120C2720,120,2560,120,2400,120C2240,120,2080,120,1920,120C1760,120,1600,120,1440,120C1280,120,1120,120,960,120C800,120,640,120,480,120C320,120,160,120,80,120L0,120Z"
    ></path><defs
      ><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"
        ><stop stop-color="rgba(223, 181, 83, 1)" offset="0%"></stop><stop
          stop-color="rgba(223, 181, 83, 1)"
          offset="100%"></stop></linearGradient
      ></defs
    ><path
      style="transform:translate(0, 50px); opacity:1"
      fill="url(#sw-gradient-1)"
      d="M0,12L80,18C160,24,320,36,480,44C640,52,800,56,960,50C1120,44,1280,28,1440,20C1600,12,1760,12,1920,28C2080,44,2240,76,2400,90C2560,104,2720,100,2880,86C3040,72,3200,48,3360,40C3520,32,3680,40,3840,46C4000,52,4160,56,4320,52C4480,48,4640,36,4800,36C4960,36,5120,48,5280,46C5440,44,5600,28,5760,34C5920,40,6080,68,6240,76C6400,84,6560,72,6720,72C6880,72,7040,84,7200,92C7360,100,7520,104,7680,98C7840,92,8000,76,8160,76C8320,76,8480,92,8640,82C8800,72,8960,36,9120,26C9280,16,9440,32,9600,38C9760,44,9920,40,10080,46C10240,52,10400,68,10560,64C10720,60,10880,36,11040,26C11200,16,11360,20,11440,22L11520,24L11520,120L11440,120C11360,120,11200,120,11040,120C10880,120,10720,120,10560,120C10400,120,10240,120,10080,120C9920,120,9760,120,9600,120C9440,120,9280,120,9120,120C8960,120,8800,120,8640,120C8480,120,8320,120,8160,120C8000,120,7840,120,7680,120C7520,120,7360,120,7200,120C7040,120,6880,120,6720,120C6560,120,6400,120,6240,120C6080,120,5920,120,5760,120C5600,120,5440,120,5280,120C5120,120,4960,120,4800,120C4640,120,4480,120,4320,120C4160,120,4000,120,3840,120C3680,120,3520,120,3360,120C3200,120,3040,120,2880,120C2720,120,2560,120,2400,120C2240,120,2080,120,1920,120C1760,120,1600,120,1440,120C1280,120,1120,120,960,120C800,120,640,120,480,120C320,120,160,120,80,120L0,120Z"
    ></path></svg
  >
  <!-- Optional centered logo badge overlapping the separator -->
  {
    withLogo && (
      <div class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2">
        <div class="rounded-full bg-white p-2 shadow-md">
          <img
            src="/logo-oama-circle.svg"
            alt="OAMa"
            class="h-10 w-10 md:h-12 md:w-12"
          />
        </div>
      </div>
    )
  }
</div>
