---
interface Props {
  topColor?: string;
  bottomColor?: string;
}
const { topColor = "#dfb553", bottomColor = "#fff9ea" } = Astro.props;
---

<div class="relative w-full overflow-hidden leading-[0]" style={`background: ${topColor};`}>
  <svg viewBox="0 0 1440 160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="block w-full" style="height: 150px;">
    <!-- Black middle band -->
    <path d="M0,20 C300,50 600,5 900,35 C1100,60 1300,20 1440,30 L1440,160 L0,160 Z" fill="black" />
    <!-- Bottom color on top of black -->
    <path d="M0,110 C250,85 550,120 800,98 C1050,76 1280,112 1440,102 L1440,160 L0,160 Z" fill={bottomColor} />
  </svg>
</div>
