---
interface Props {
  topColor?: string;
  bottomColor?: string;
}
const { topColor = "#dfb553", bottomColor = "#fff9ea" } = Astro.props;
---

<div class="relative w-full overflow-hidden leading-[0]" style={`background: ${topColor};`}>
  <svg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="block w-full" style="height: 100px;">
    <!-- Black middle band -->
    <path d="M0,30 C300,60 600,10 900,45 C1100,70 1300,25 1440,35 L1440,120 L0,120 Z" fill="black" />
    <!-- Bottom color on top of black -->
    <path d="M0,70 C250,45 550,80 800,58 C1050,36 1280,72 1440,62 L1440,120 L0,120 Z" fill={bottomColor} />
  </svg>
</div>
