---
const {
  height = 140, // px-ish feel via class mapping below
  withLogo = false,
} = Astro.props;

// Map a simple height prop to Tailwind classes
---

<div class="relative w-full">
  <!-- The waves -->
  <svg
    id="wave"
    style="transform:rotate(180deg); transition: 0.3s"
    viewBox="0 0 1440 110"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs
      ><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"
        ><stop stop-color="rgba(223, 181, 83, 1)" offset="0%"></stop><stop
          stop-color="rgba(223, 181, 83, 1)"
          offset="100%"></stop></linearGradient
      ></defs
    ><path
      style="transform:translate(0, 50px); opacity:1"
      fill="url(#sw-gradient-1)"
      d="M0,11L80,16.5C160,22,320,33,480,40.3C640,48,800,51,960,45.8C1120,40,1280,26,1440,18.3C1600,11,1760,11,1920,25.7C2080,40,2240,70,2400,82.5C2560,95,2720,92,2880,78.8C3040,66,3200,44,3360,36.7C3520,29,3680,37,3840,42.2C4000,48,4160,51,4320,47.7C4480,44,4640,33,4800,33C4960,33,5120,44,5280,42.2C5440,40,5600,26,5760,31.2C5920,37,6080,62,6240,69.7C6400,77,6560,66,6720,66C6880,66,7040,77,7200,84.3C7360,92,7520,95,7680,89.8C7840,84,8000,70,8160,69.7C8320,70,8480,84,8640,75.2C8800,66,8960,33,9120,23.8C9280,15,9440,29,9600,34.8C9760,40,9920,37,10080,42.2C10240,48,10400,62,10560,58.7C10720,55,10880,33,11040,23.8C11200,15,11360,18,11440,20.2L11520,22L11520,110L11440,110C11360,110,11200,110,11040,110C10880,110,10720,110,10560,110C10400,110,10240,110,10080,110C9920,110,9760,110,9600,110C9440,110,9280,110,9120,110C8960,110,8800,110,8640,110C8480,110,8320,110,8160,110C8000,110,7840,110,7680,110C7520,110,7360,110,7200,110C7040,110,6880,110,6720,110C6560,110,6400,110,6240,110C6080,110,5920,110,5760,110C5600,110,5440,110,5280,110C5120,110,4960,110,4800,110C4640,110,4480,110,4320,110C4160,110,4000,110,3840,110C3680,110,3520,110,3360,110C3200,110,3040,110,2880,110C2720,110,2560,110,2400,110C2240,110,2080,110,1920,110C1760,110,1600,110,1440,110C1280,110,1120,110,960,110C800,110,640,110,480,110C320,110,160,110,80,110L0,110Z"
    ></path></svg
  >
</div>
